@media (max-width: 390px) {
    main {
        width: 100vw;
        padding: 0;
        margin: 0;
        border-radius: 0;
    }
    main img {
        border-radius: 0;
    }
    h1 {
        margin: 0 20px;
    }
    .recipe-concept, .nutrition-text {
        font-size: 1.06rem;
        margin: 0 30px 30px 20px;
    }
    .recipe-time {
        margin: 0 20px 30px 20px;
        border-radius: 15px;
    }
    h3 {
        padding: 20px;
    }
    .line {
        margin: 0 20px;
    }
    .ingreList {
        margin-left: 20px;
    }
    .ingreList::marker {
        margin-right: 20px;
    }
    .orderList p {
        margin-left: 20px;
    }
    .table {
        padding: 0 40px 60px 20px;
    }
    .right {
        padding-left: 20px;
    }
    
}








